In [23]:
import numpy as np
import pandas as pd

1. [Referencias](#refe)

## Que es pandas?
Biblioteca de software libre de escrita a partir de NumPy para la manipulación y análisis de datos, especialmente usando tablas numéricas (**DataFrames**) y series temporales (**Series**). 

**Estructura básica**

<center>
<img src="https://gitlab.com/bivl2ab/academico/cursos-uis/ai/ai-uis-student/raw/master/imgs/pandas-data-structure.png" width="700">
</center>

### Series temporales

In [24]:
ciudades = pd.Series(['BUCARAMANGA','MEDELLIN','BOGOTA','CALI'])
ciudades

0    BUCARAMANGA
1       MEDELLIN
2         BOGOTA
3           CALI
dtype: object

In [25]:
poblacion = pd.Series([581130,2569000,7181000,2228000])
poblacion

0     581130
1    2569000
2    7181000
3    2228000
dtype: int64

### Creando DataFrames a mano

Creamos un diccionario con las **Series**

In [26]:
informacion = {'Nombre_ciudades': ciudades,
              'Poblacion': poblacion}
informacion

{'Nombre_ciudades': 0    BUCARAMANGA
 1       MEDELLIN
 2         BOGOTA
 3           CALI
 dtype: object,
 'Poblacion': 0     581130
 1    2569000
 2    7181000
 3    2228000
 dtype: int64}

Ya con las series podemos crear el **DataFrame**.

In [27]:
df = pd.DataFrame(informacion)
df

  Nombre_ciudades  Poblacion
0     BUCARAMANGA     581130
1        MEDELLIN    2569000
2          BOGOTA    7181000
3            CALI    2228000

Podemos indicar los indices de la tabla

In [28]:
df = pd.DataFrame(informacion, index= ['Ciudad_1', 'Ciudad_2', 'Ciudad_3', 'Ciudad_4'] )
df

         Nombre_ciudades  Poblacion
Ciudad_1             NaN        NaN
Ciudad_2             NaN        NaN
Ciudad_3             NaN        NaN
Ciudad_4             NaN        NaN

## Archivos CSV
Entre otras características, Pandas permite la lectura y carga de archivos tipo .csv (formato para representar datos en forma de tabla).

<a id='refe'></a>

## Referencias

[1] Que es Pandas?: https://es.wikipedia.org/wiki/Pandas_(software) 

[2] Bivl2ab pandas tutorial. https://gitlab.com/bivl2ab/academico/cursos-uis/ai/ai-uis-student/-/blob/master/notebooks/03_std_Notes_Pandas_Introduction.ipynb

<!-- [2] official panda doc sites:http://pandas.pydata.org/pandas-docs/stable/index.html

[2] Description of a dataset: https://www.kaggle.com/camnugent/california-housing-prices -->